<% if @task.errors.any? %>
  <div>
    <h3><%= @task.errors.count %>件のエラーがあります</h3>

    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @task do |f| %>

  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <br>

  <div>
    <%= f.label :content, "内容" %><br>
    <%= f.text_area :content %>
  </div>

  <br>

  <%= f.submit %>

<% end %>